@model Weather.Domain.ViewModels.WeatherForecastViewModel

@{
    ViewBag.Title = "Väderapplikation | Visa prognos";
}
<div class="col-xs12 col-sm-12">
    <div class="row">
        @Html.ActionLink("Tillbaka till Sök", "Index")
    </div>
</div>
<div class="row">
    <div class="col-xs12 col-sm-12">
    <div class="col-xs12 col-sm-12" id="forecast">
        <h3>
            @String.Format("5-dygnsprognos för {0}, {1}, {2}", @Model.Geoname.name, @Model.Geoname.adminName1, @Model.Geoname.countryName)
        </h3>
        <p>
            @String.Format("Prognosen uppdaterades senast: {0}", @Model.Geoname.lastUpdate)
        </p>
        <table>
            @foreach (var forecast in @Model.Geoname.Forecasts)
            {
                if (@Model.isNewDay(forecast.timeFrom) == true)
                {
                    <tr>
                        <td class="weekday">
                            @String.Format("{0}", @Model.GetWeekday(forecast.timeFrom))
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            @Html.DisplayFor(modelItem => forecast.timeFrom.TimeOfDay)
                            -
                            @Html.DisplayFor(modelItem => forecast.timeTo.TimeOfDay)
                        </td>
                        <td class="col-md-2">
                            <img src="http://symbol.yr.no/grafikk/sym/b38/@(forecast.symbol).png" alt="vädersymbol från yr.no" title="vädersymbol från yr.no">
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => forecast.temp) °C
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="col-md-4">
                            @Html.DisplayFor(modelItem => forecast.timeFrom.TimeOfDay)
                            -
                            @Html.DisplayFor(modelItem => forecast.timeTo.TimeOfDay)
                        </td>
                        <td class="col-md-2">
                            <img src="http://symbol.yr.no/grafikk/sym/b38/@(forecast.symbol).png" alt="vädersymbol från yr.no" title="vädersymbol från yr.no">
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => forecast.temp) °C
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs12 col-sm-12">
        <div class="input_form">
            <p>
                @String.Format("All väderdata samt vädersymboler på sidan är hämtade från yr.no.")
            </p>
            @Html.ActionLink("Tillbaka till Sök", "Index")
        </div>
    </div>
</div>

